-- Cleaned source data from raw_source_table
SELECT
    id,
    CAST(amount AS DECIMAL(18,2)) AS amount,
    CAST(transaction_date AS DATE) AS txn_date,
    RTRIM(LTRIM(customer_name)) AS customer_name
FROM raw_source_table;
