-- Reconciliation model: compare source vs expected
SELECT
    s.id,
    s.amount AS source_amount,
    e.expected_amount,
    CASE
        WHEN s.amount = e.expected_amount THEN 'MATCH'
        ELSE 'MISMATCH'
    END AS status
FROM {{ ref('stg_source') }} AS s
LEFT JOIN {{ ref('stg_expected') }} AS e
    ON s.id = e.id
